@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.services {
    display: block;
    padding: 40px 30px;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/emekamykael45/image/upload/v1581642627/econnect/services-back_op89tv.png");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/emekamykael45/image/upload/v1581642627/econnect/services-back_op89tv.png");
}

.services .welcome {
    margin: 0 auto;
    margin-top: 120px;
    font-family: 'Permanent Marker', cursive;
    width: 50%;
    color: #FFFFFF;
    font-size: 4em;
    line-height: 1.3em;
    text-align: center;
}

.services .explore {
    margin: 0;
    margin-top: 90px;
    color: #FFFFFF;
    font-size: 1.4em;
    text-align: center;
}

.services .btn-actions {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.services .btn-actions .btn:first-child {
    margin-right: 50px;
}