:root {
    --color-white: #FFFFFF;
    --color-yellow: #FFCB30;
    --color-black: #1D2733;
    --navbar-background: #1D2733;
    --blue: #007bff;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.section {
    padding: 100px 80px;
    padding-bottom: 0px;
}

.rule hr {
    margin: 0;
    height: 5px;
    background: var(--color-yellow);
    border: none;
}
.rule.center hr {
    margin: 0px auto;
}

.rule .top, .rule.center .top {
    margin-bottom: 5px;
    width: 100px;
}
.rule .bottom {
    width: 50px;
}

.btn {
    position: relative;
    display: flex;
    width: max-content;
    -webkit-width: max-content;
    height: max-content;
    -webkit-height: max-content;
    padding: 12px 30px !important;
    padding-bottom: 13px !important;
    letter-spacing: 0.02em !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    border: none;
}

.btn-primary {
    color: var(--color-white);
    background: var(--color-yellow);
    border: 3px solid var(--color-yellow);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.btn-primary:hover,
.btn-primary:focus {
    color: var(--color-white) !important;
    background: var(--color-yellow) !important;
    border: 3px solid var(--color-yellow) !important;
    opacity: 0.9 !important;
}

.btn-secondary {
    color: var(--color-yellow);
    background: transparent;
    border: 3px solid var(--color-yellow);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--color-yellow) !important;
    background: transparent !important;
    border: 3px solid var(--color-yellow) !important;
    opacity: 0.9 !important;
}

.btn-white {
    color: var(--color-black);
    background: var(--color-white);
    border: 3px solid var(--color-white);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.btn-white:hover,
.btn-white:focus {
    color: var(--color-black) !important;
    background: var(--color-white) !important;
    border: 3px solid var(--color-white) !important;
    opacity: 0.9 !important;
}

.content {
    width: 100%;
    min-height: 100vh;
}

.page {
    margin: 0px;
    width: 100%;
}