*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.logo-link {
    display: flex;
    margin: 0 auto;
    width: 200px;
}

.logo {
    width: 200px;
}

.section {
    height: 100vh;
    padding: 40px 80px !important;
}

.btn {
    position: relative;
    display: flex;
    width: max-content;
    -webkit-width: max-content;
    height: max-content;
    -webkit-height: max-content;
    padding: 15px 45px !important;
    padding-bottom: 17px !important;
    letter-spacing: 0.02em !important;
    font-family: 'Ubuntu', sans-serif;
    border: none;
}

.btn-primary {
    color: #FFFFFF;
    background: transparent;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.btn-primary:hover {
    color: #FFFFFF;
    opacity: 0.9;
}

.btn-start {
    color: #FFFFFF;
    background: #092D60;
    border: 3px solid #092D60;
    box-shadow: 0px 5px 10px rgba(9, 45, 96, 0.2);
    border-radius: 5px;
}

.btn-start:hover {
    color: #FFFFFF;
    opacity: 0.9;
}